CompileFlags:
  Add: [
    "-isysroot",
    "${THEOS}/sdks/iPhoneOS26.2.sdk",
    "-fmodules",
    "-fcxx-modules",
    "-fobjc-arc",
    "-I${THEOS}/include",
    "-I${THEOS}/vendor/include",
    "-F${THEOS}/sdks/iPhoneOS26.2.sdk/System/Library/Frameworks",
    "-F${THEOS}/sdks/iPhoneOS26.2.sdk/System/Library/SubFrameworks"
  ]
