Package: com.faroukbmiled.ryukgram
Name: RyukGram
Version: 1.3.4
Architecture: iphoneos-arm
Description: A feature-rich enhancement suite for Instagram on iOS
Homepage: https://github.com/faroukbmiled/RyukGram
Maintainer: Ryuk
Author: Ryuk
Section: Tweaks
Depends: mobilesubstrate
Conflicts: com.faroukbmiled.ryukgram.legacy, com.socuul.scinsta
Replaces: com.faroukbmiled.ryukgram.legacy, com.socuul.scinsta
